
<form id="myform" onsubmit="event.preventDefault(); validateMyForm();">
    <br/>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" id="txtUserName" required>
      <br/><br/>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="txtPassword" required>
      <br/><br/>
      <button type="submit">Login</button>
    </div>
  
    <div id="divResult"></div>
</form>

<script >
    function validateMyForm()
    {
        var txtUserName = document.getElementById("txtUserName");
        var txtPassword = document.getElementById("txtPassword");
        var divResult = document.getElementById("divResult");

        if(txtUserName.value == 'admin')
        {
            if(txtPassword.value = '1234')
            {
                divResult.setHTMLUnsafe("Yes !");
            }
            else{
                divResult.setHTMLUnsafe("No !");
            }
        }
        else{
            divResult.setHTMLUnsafe("No !");
        }

        
        return false;
    }
</script>
